.block-pretty-window {
    [class^="col-"] {
        padding: 25px;

        &:first-child {
            padding-right: 0;

            background-position: 50% 50%;
            background-size: 100%;

            .inner {
                border-right: 0;
            }
        }

        &:last-child {
            padding-left: 0;

            .inner {
                border-left: 0;
            }
        }
    }
}