.block-solution {
    background-color: $blue-light;
    position: relative;
    overflow: hidden;

    .container {
        padding-top: 100px;
        padding-bottom: 100px;

        @include sm() {
            padding-top: 0;
        }
    }

    .overline {
        text-align: right;
    }

    h2 {
        text-align: right;
        width: calc(100% + 160px);
        margin-left: -160px;

        @include sm() {
            width: 100%;
            margin-left: 0;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        right: calc(50% + 150px);
        bottom: 0;
        left: 0;

        @include sm() {
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            width: 70%;
            margin-top: -140px;
            margin-bottom: -30px;
        }

        img {
            object-fit: contain;
            object-position: top left;
            mix-blend-mode: multiply;
            height: 100%;
            width: 100%;
        }
    }
}