.block-cta
{
    background-color: $blue-light;
    padding: 64px 0;
    @include sm()
    {
        padding: 51px 0 48px;
    }
    &__text-wrapper
    {
        @include md()
        {
            padding-top: 5px;
            padding-bottom: 39px;
        }
        @include sm()
        {
            padding-bottom:20px;
        }
    }
    &__button-wrapper
    {
        text-align: right;

        @include md()
        {
            text-align: center;
        }
    }

    h2:only-child {
        margin: 0 0 32px;
    }
}
