/* Random custom stuff Andrew has added for one-off styles */

.sponsors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .sponsor {
        flex-basis: 25%;
        flex-shrink: 0;
        max-width: 300px;
        margin: 1.5rem auto;
        padding: 15px 35px;

        @include md {
            flex-basis: 50%;
        }

        @include sm {
            flex-basis: 100%;
        }
    }
}


.content-column {
    position: relative; // needed for floater class
}