/* Random custom stuff Andrew has added for one-off styles */

.sponsor {
    max-width: 300px;
    margin: 1.5rem auto;
    padding: 15px 35px;

    background-color: #ddd;
    color: black;

    // chevron shape
    clip-path: polygon(100% 0%, 92% 50%, 100% 100%, 8% 100%, 0% 50%, 8% 0%);
}

.content-column {
    position: relative; // needed for floater class
}