/* Random custom stuff Andrew has added for one-off styles */

.sponsor {
    display: inline-block;

    padding: 15px 35px;
    max-width: 40%;
    margin: 1.5rem auto;

    background-color: #242424;
    color: white;

    // chevron shape
    clip-path: polygon(100% 0%, 92% 50%, 100% 100%, 8% 100%, 0% 50%, 8% 0%);
}