@font-face {
  font-family: "fkgrotesk";
  src: url('../fonts/fkgrotesk/FKGrotesk-Thin.woff2') format('woff2'),
    url('../fonts/fkgrotesk/FKGrotesk-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "fkgrotesk";
  src: url('../fonts/fkgrotesk/FKGrotesk-ThinItalic.woff2') format('woff2'),
    url('../fonts/fkgrotesk/FKGrotesk-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "fkgrotesk";
  src: url('../fonts/fkgrotesk/FKGrotesk-Light.woff2') format('woff2'),
    url('../fonts/fkgrotesk/FKGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "fkgrotesk";
  src: url('../fonts/fkgrotesk/FKGrotesk-LightItalic.woff2') format('woff2'),
    url('../fonts/fkgrotesk/FKGrotesk-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "fkgrotesk";
  src: url('../fonts/fkgrotesk/FKGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/fkgrotesk/FKGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fkgrotesk";
  src: url('../fonts/fkgrotesk/FKGrotesk-RegularItalic.woff2') format('woff2'),
    url('../fonts/fkgrotesk/FKGrotesk-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "fkgrotesk";
  src: url('../fonts/fkgrotesk/FKGrotesk-Medium.woff2') format('woff2'),
    url('../fonts/fkgrotesk/FKGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "fkgrotesk";
  src: url('../fonts/fkgrotesk/FKGrotesk-MediumItalic.woff2') format('woff2'),
    url('../fonts/fkgrotesk/FKGrotesk-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "fkgrotesk";
  src: url('../fonts/fkgrotesk/FKGrotesk-Bold.woff2') format('woff2'),
    url('../fonts/fkgrotesk/FKGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "fkgrotesk";
  src: url('../fonts/fkgrotesk/FKGrotesk-BoldItalic.woff2') format('woff2'),
    url('../fonts/fkgrotesk/FKGrotesk-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "fkgrotesk";
  src: url('../fonts/fkgrotesk/FKGrotesk-Black.woff2') format('woff2'),
    url('../fonts/fkgrotesk/FKGrotesk-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "fkgrotesk";
  src: url('../fonts/fkgrotesk/FKGrotesk-BlackItalic.woff2') format('woff2'),
    url('../fonts/fkgrotesk/FKGrotesk-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}