/* Tailwind-like utility classes created to make dev easier for Andrew */

.text-purple {
    color: $purple
}

.text-blue-med-dark {
    color: $blue-med-dark;
}

.text-big {
    font-size: 175%;
    line-height: 1.5em;
}

.font-medium {
    font-weight: 500;
}

.fat-purple {
    @extend .text-blue-med-dark; // too lazy to change entire class name so this will do
    @extend .font-medium;
}

.hidden {
    display: none!important;
}

.floater {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(90%);
    padding: 30px;

    background-color: #2765ff;
    color: white;

    @include sm {
        position: unset;
        transform: unset;
    }
}

.divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .125rem;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;

    &::before,
    &::after {
        display: block;
        -ms-flex-preferred-size: 32px;
        flex-basis: 32px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        height: 1px;
        background-color: #e9ecf0;
        content: '';
    }
    &::before {
        margin-right: 2rem;
    }
    
    &::after {
        margin-left: 2rem;
    }
}